BROWSERSYNC_PROXY=http://wp.local
BROWSERSYNC_PORT=9999

TEST_DB_NAME=wordpress_test
TEST_DB_USER=root
TEST_DB_PWD=root
TEST_DB_HOST=localhost
TEST_WP_VERSION=latest
TEST_SKIP_DB_CREATE=false

DEV_FTP_HOST=ftp.dev.host
DEV_FTP_DIR=/dev.host/wp-content/themes/wp-starter-theme/
DEV_FTP_NAME=user
DEV_FTP_PWD=password
